.thumbnail {
  border: none;
  margin: 20px 0;
  padding: 0;

  .gradient {
    background: $jewel;
    background: linear-gradient(to bottom, $gradient-transparent 45%,$jewel 100%);
    transition: opacity 0.3s;
    opacity: 0.65;
  }

  &:hover {
    text-decoration: none;
    .gradient {opacity: 0.85;}
  }

  img {width: 100%;}

  .bottom-wrapper {
    padding: 35px;
    color: $white;
  }

  .icon-button {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: -22.5px;
  }

  .caption {
    padding: 40px 30px 20px 30px;
    min-height: 130px;
  }

  .carousel-control {
    background: none;
    border: none;
    z-index: 999;
  }

  .carousel {
    position: relative;
    z-index: 0;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin: 0.2em 0;
  }
}