.thumbnail-cover {
  position: relative;
  background: $jewel;
  .focuspoint {height: 200px;}
  &.thumbnail-cover-lg .focuspoint {height: 550px;}
  &.thumbnail-cover-landscape .focuspoint {height: 350px;}
  &.thumbnail-cover-md .focuspoint {height: 400px;}
  .gradient {
    background: $jewel;
    background: linear-gradient(to bottom,  $jewel 0%,$gradient-transparent 45%,$gradient-transparent 55%,$jewel 100%);
    transition: opacity 0.3s;
    opacity: 0.65;
  }
  &.thumbnail-cover-landscape .gradient {
    background: $jewel;
    background: linear-gradient(to bottom,  $jewel 0%,$gradient-transparent 55%);
    transition: opacity 0.3s;
  }
  a:hover {
    .gradient {opacity: 0.85;}
    img {transform: scale(1.05);}
  }
  img {
    transform: scale(1);
    transition: all 0.3s;
  }
  a {
    color: $white;
    display: block;
  }
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0.2em;
  }
}