@mixin theme ($bg) {
  background: $bg;
}

.meadowy {
  color: $white;
  a {color: $shadow-green;}
  a:hover, a:active, a:focus {color: $white;}
  @include theme($mountain-meadow);
}

.salemy {
  color: $white;
  a {color: $shadow-green;}
  a:hover, a:active, a:focus {color: $white;}
  @include theme($salem);
}

.gray {
  @include theme($gray);
}

.chalicy {
  @include theme($silver-chalice);
}


.sandy {
  @include theme($wild-sand);
}

.alabasty {
  @include theme($alabaster);
}