
// COLORS -------------------

$shadow-green:        #9dc9b4;
$green-haze:          #1EC64B;
$mountain-meadow:     #14a355;
$salem:               #0d7b41;
$jewel:               #0d5a41;

$white:               #fff;
$alabaster:           #f8f8f8;
$wild-sand:           #f4f4f4;
$mercury:             #e8e8e8;
$silver-chalice:      #a8a8a8;
$gray:                #888888;
$mine-shaft:          #333333;
$black:               #000;

$salem-transparent:         rgba(13, 123, 65, 0.65);
$gradient-transparent:      rgba(0, 0, 0, 0);

$invisible:           transparent; //rgba(0, 0, 0, 0)


// FONTS ---------------------

$main-font:           'Open Sans', Arial, sans-serif;