<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        {{> thumbnail
              thumbnail-title="Tour de Romandie"
              thumbnail-text="Toutes les infos sur le Tour de Romandie"
              thumbnail-img="../build/img/vot-demo-05.jpg"
              button-label="En savoir plus"
              button-voticon="chevron-right" }}
        </div>
      <div class="col-sm-4">
        {{> thumbnail
              thumbnail-title="Tour de Suisse"
              thumbnail-text="Toutes les infos sur le Tour de Suisse"
              thumbnail-img="../build/img/vot-demo-14.jpg"
              button-label="En savoir plus"
              button-voticon="chevron-right" }}
        </div>
      <div class="col-sm-4">
        {{> thumbnail
              thumbnail-title="Swiss Cycling"
              thumbnail-text="Toutes les infos sur le Swiss Cycling"
              thumbnail-img="../build/img/vot-demo-16.jpg"
              button-label="En savoir plus"
              button-voticon="chevron-right" }}
        </div>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>
</div>