<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        {{> thumbnail
              thumbnail-title="Omega European Masters"
              thumbnail-text="Toutes les infos sur le Omega European Masters"
              thumbnail-img="../build/img/vot-demo-02.jpg"
              button-label="En savoir plus"
              button-voticon="chevron-right" }}
        </div>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>
</div>