<footer class="meadowy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        © <i class="voticons voticons-vaudoise"></i> <a href="http://vaudoiseontour.ch"><u>vaudoiseontour.ch</u></a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="#">Informations juridiques</a> | <a href="#">Impressum</a>
      </div>
      <div class="col-sm-4 text-right">
        Une réalisation <a href="http://antistatique.net"><u>Antistatique</u></a>
      </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</footer>
