<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <h6>Nos partenaires</h6>

    <div class="row">
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
    </div>
    <div class="row">
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>