<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <h6>Nos partenaires</h6>

    <div class="row">
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-20km-de-lausanne.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-athletissima.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-montreux-jazz.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-nuithonie.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-omega.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-opera-de-lausanne.png" }}</div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-swiss-cycling.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-tour-de-romandie.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-tour-de-suisse.png" }}</div>
      <div class="col-sm-2 col-xs-4">{{> partner partner-logo="../build/img/partners-weltklasse-zurich.png" }}</div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>
