<div class="salemy sitemap">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h5 class="heading-underlined"><a href="#">Accueil</a></h5>
      </div>
      <div class="col-sm-5">
        <h5 class="heading-underlined"><a href="#">On Tour</a></h5>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="text-uppercase"><a href="#">Culture</a></h6>
            <ul class="list-unstyled">
              {{#each sitemaplinks.ontour.culture}}
                <li><a href="{{ this.url }}">{{ this.name }}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="col-sm-6">
            <h6 class="text-uppercase"><a href="#">Sports</a></h6>
            <p>Golf</p>
            <ul class="list-unstyled">
              {{#each sitemaplinks.ontour.sports.golf}}
                <li><a href="{{ this.url }}">{{ this.name }}</a></li>
              {{/each}}
            </ul>
            <div class="spacer spacer-xs"></div>
            <p>Cyclisme</p>
            <ul class="list-unstyled">
              {{#each sitemaplinks.ontour.sports.cyclisme}}
                <li><a href="{{ this.url }}">{{ this.name }}</a></li>
              {{/each}}
            </ul>
            <div class="spacer spacer-xs"></div>
            <p>Athlétisme</p>
            <ul class="list-unstyled">
              {{#each sitemaplinks.ontour.sports.athletisme}}
                <li><a href="{{ this.url }}">{{ this.name }}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <h5 class="heading-underlined"><a href="#">Concours</a></h5>
        <ul class="list-unstyled">
          {{#each sitemaplinks.concours}}
            <li><a href="{{ this.url }}">{{ this.name }}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-3">
        <h5 class="heading-underlined"><a href="#">Contact</a></h5>
        <ul class="list-unstyled">
          {{#each sitemaplinks.contact}}
            <li><a href="{{ this.url }}">{{ this.name }}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>
