footer.meadowy {
  font-size: 14px;
  color: $shadow-green;
  .voticons {
    color: $white;
    &:before {
      font-size: 3.5em;
    }
  }
  .col-sm-4 {
    padding: 8px;
    &:first-child {
      display: flex;
      align-items: center;
      max-height: 39px;
    }
  }
  @media only screen and (max-width: $screen-xs-max) {
    .text-right,
    .text-center {
      text-align: left;
    }
  }
}
