.btn {
  border-radius: 900px;
  padding: 7px 30px;
  margin-bottom: 10px;
  transition: all 0.3s;
  text-transform: uppercase;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  border-color: $mountain-meadow;
  color: $mountain-meadow;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  border-color: $salem;
  color: $salem;
}

.btn-facebook {
  color: $white;
  background: #3b5998;
  &:hover, &:focus, &:active {
    color: $white;
    background: darken(#3b5998, 10%);
  }
}
.btn-twitter{
  color: $white;
  background: #00aced;
  &:hover, &:focus, &:active {
    color: $white;
    background: darken(#00aced, 10%);
  }
}
.btn-youtube {
  color: $white;
  background: #bb0000;
  &:hover, &:focus, &:active {
    color: $white;
    background: darken(#bb0000, 10%);
  }
}