h1, .h1,
h5, .h5 {
  text-transform: uppercase;
}

h1, .h1 {
  font-weight: bold;
}

.heading-light {
  font-weight: 100;
}

.heading-underlined {
  border-bottom: 1px solid $shadow-green;
  padding-bottom: 10px;
}