.icon-button {
  display: inline-block;
  width: auto;
  height: 55px;
  padding: 0 15px;
  background: none;
  box-sizing: border-box;
  text-align: center;
  line-height: 57px;
  border-radius: 100px;
  position: relative;
  clip:rect(0, 0, 55px, 55px);

  &.icon-button-plain {
    background: $brand-primary;
    color: $white;
    transition: background 0.3s;
  }
  &.icon-button-outlined {
    border: 1px solid $white;
  }
  &.icon-button-lg {
    height: 65px;
    line-height: 60px;
    font-size: 1.2em;
    .voticons {font-size: 1.2em;}
  }

  span {
    padding-right: 10px;
  }

  &:hover {
    text-decoration: none;
    &.icon-button-plain {background: $salem;}
  }

}