a.icon-circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: $white;
  border: 1px solid $white;
  border-radius: 35px;
  text-align: center;
  line-height: 38px;
  transition: all 0.3s;
  margin-left: 10px;
  &.icon-circle-lg {
    color: $gray;
    border-color: $gray;
    width: 65px;
    height: 65px;
    line-height: 69px;
  }
}

.icon-facebook:hover, .icon-circle-lg.icon-facebook:hover {
  border-color: #3b5998;
  color: $white;
  background: lighten(#3b5998, 0%);
}
.icon-twitter:hover, .icon-circle-lg.icon-twitter:hover {
  border-color: #00aced;
  color: $white;
  background: lighten(#00aced, 0%);
}
.icon-youtube:hover, .icon-circle-lg.icon-youtube:hover {
  border-color: #bb0000;
  color: $white;
  background: lighten(#bb0000, 0%);
}

.icon-heart {
  position: relative;
  top: 7px;
  color: #D15769;
  font-size: 30px;
}