---
cover: false
contact: true
---

{{> header }}


<div class="container">
  {{> breadcrumb }}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="h2 text-muted">Contact</h1>

      <div class="well">
        <strong>Véronique Oliveira</strong><br>
        Responsable communication<br><br>

        Tél : +41 21 618 86 95<br>
        Fax : +41 21 618 83 80
      </div>

      <p>
        Pour plus d’informations sur la Vaudoise Assurances, rendez-vous sur notre site principal <a href="http://www.vaudoise.ch/">Vaudoise assurance</a>.<br><br>

        Découvrez nos produits :<br><br>
        <a href="http://click2drive.ch">click2drive.ch</a> - L’assurance auto en ligne<br>
        <a href="http://click2ride.ch">click2ride.ch</a> - L’assurance moto en ligne
      </p>

      <div class="spacer"></div>

    </div>
  </div>
</div>

<div class="alabasty">
  <div class="container">
    {{> social-row }}
  </div>
</div>

{{> partners }}

{{> sitemap }}
{{> footer }}