---
cover: true
---

{{> header }}

{{> thumbnail-cover
      thumbnail-large=true
      thumbnail-voticon="bike"
      thumbnail-title="Tour de Romandie 2015"
      thumbnail-subtitle="du 3 au 18 juillet 2015"
      thumbnail-img="../build/img/vot-demo-03.jpg"
      thumbnail-url="http://google.com"
      button-label="Voir plus"
      button-voticon="chevron-left"
      button-outlined=true
      button-large=true }}

<div class="container">

</div>

<!-- <div class="spacer spacer-xl"></div>

<div class="container">
  {{> icon-button }}
</div> -->