---
cover: true
---

{{> header }}

<div class="sandy">
  <div class="container">
    <div class="row">
      {{> thumbnail-cover
        thumbnail-large=true
        thumbnail-voticon="bike"
        thumbnail-title="Tour de Romandie 2015"
        thumbnail-subtitle="du 3 au 18 juillet 2015"
        thumbnail-img="../build/img/vot-demo-03.jpg"
        thumbnail-url="http://google.com"
        button-label="Voir plus"
        button-voticon="chevron-right"
        button-outlined=true
        button-large=true }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        {{> thumbnail-cover
              thumbnail-medium=true
              thumbnail-voticon="bike"
              thumbnail-title="Grand concours"
              thumbnail-subtitle="Tour de Romandie 2015"
              thumbnail-text="Participez à notre grand concours et gagnez des week-ends à Amsterdam."
              thumbnail-img="../build/img/vot-demo-20.jpg"
              thumbnail-url="http://google.com"
              button-label="Voir plus"
              button-voticon="chevron-right"
              button-large=true
              button-outlined=true }}
      </div>
      <h2>Une démarche concernée et engagée</h2>
      <p>
        Le sponsoring fait partie intégrante de la stratégie de communication de la Vaudoise. Notre ancrage régional et local se traduit par un engagement actif au sein de la communauté. La Vaudoise participe activement à la vie économique, sportive et culturelle en soutenant diverses manifestations d'envergure nationale, cantonale ou régionale.
      </p>
    </div>
    <div class="col-sm-5">
      <div class="row">
        {{> calendar }}
      </div>
    </div>
  </div>
</div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        {{> thumbnail 
              thumbnail-title="Omega European Master"
              thumbnail-carousel=true
              thumbnail-carousel-first="../build/img/vot-demo-05.jpg"
              thumbnail-carousel-second="../build/img/vot-demo-09.jpg"
              thumbnail-carousel-third="../build/img/vot-demo-14.jpg"
              thumbnail-text="Matteo Manassero sera à Crans-Montana!"
              button-label="Voir la galerie"
              button-voticon="camera" }}
        </div>
      <div class="col-sm-4">
        {{> thumbnail
              thumbnail-title="Omega European Master"
              thumbnail-text="Tournoi saison 2015"
              thumbnail-img="../build/img/vot-demo-14.jpg"
              button-label="En savoir plus"
              button-voticon="pen" }}
        </div>
      <div class="col-sm-4">
        {{> thumbnail
              thumbnail-title="Montreux Jazz 2014"
              thumbnail-text="Montreux Jazz Festival 2014 : Vidéo – Behind The Scenes"
              thumbnail-img="../build/img/vot-demo-09.jpg"
              button-label="Voir la vidéo"
              button-voticon="video" }}
        </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>

<div class="container">
  {{> social-row }}
</div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <h4>Nos partenaires</h4>

    <div class="row">
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
    </div>
    <div class="row">
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
      <div class="col-sm-2">{{> partner partner-logo="../build/img/partner-demo.jpg" }}</div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>

{{> sitemap }}
{{> footer }}