---
cover: true
ontour: true
---

{{> header }}

{{> thumbnail-cover
      thumbnail-minimal=true
      thumbnail-landscape=true
      thumbnail-img="../build/img/vot-demo-03.jpg" }}

<div class="container">
  {{> breadcrumb }}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Événement</h1>
      <p>
        Vaudoise Assurances est active dans les domaines de la musique et de la culture, ainsi que dans celui du sports.
      </p>
      <p>
        Consultez les manifestions où nous sommes présents :
      </p>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      {{> link-button modifiers="btn-success" url="#musique" label="Musique & culture"  }}
      {{> link-button modifiers="btn-success" url="#cyclism" label="Cyclisme" }}
      {{> link-button modifiers="btn-success" url="#athletism" label="Athlétisme" }}
      {{> link-button modifiers="btn-success" url="#golf" label="Golf" }}
    </div>
  </div>

  <div class="spacer spacer-sm"></div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 id="musique">Musique & culture</h2>
      <p class="lead">
        Du classique au jazz, du théâtre à l’opéra, la Vaudoise Assurances vous emmène en tournée à la rencontre des artistes d’hier, d’aujourd’hui et de demain.
      </p>
      {{> separator separator-size="md" }}
      <p>
        Le sponsoring fait partie intégrante de la stratégie de communication de la Vaudoise. Notre ancrage régional et local se traduit par un engagement actif au sein de la communauté. La Vaudoise participe activement à la vie économique, sportive et culturelle en soutenant diverses manifestations d'envergure nationale, cantonale ou régionale.
      </p>
      <div class="spacer spacer-sm"></div>
      <div class="text-center">
        <i class="voticons voticons-chevron-down voticons-lg text-muted"></i>
      </div>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        {{> thumbnail-cover
              thumbnail-medium=true
              thumbnail-voticon="music"
              thumbnail-title="Montreux Jazz"
              thumbnail-subtitle="25 Mars 2015"
              thumbnail-img="../build/img/vot-demo-07.jpg"
              button-label="En savoir plus"
              button-voticon="chevron-right"
              button-large=true
              button-outlined=true }}
      </div>
  </div>
    <div class="col-sm-6">
      <div class="row">
        {{> thumbnail-cover
              thumbnail-medium=true
              thumbnail-voticon="music"
              thumbnail-title="Opéra de Lausanne"
              thumbnail-subtitle="25 Mars 2015"
              thumbnail-img="../build/img/vot-demo-06.jpg"
              button-label="En savoir plus"
              button-voticon="chevron-right"
              button-large=true
              button-outlined=true }}
      </div>
    </div>
  </div>
</div>

{{> featured-music }}

<div class="spacer spacer-sm"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 id="musique">Sports</h2>
      <h3 id="cyclism" class="text-muted">Cyclisme</h3>
      <p class="lead">
        De retour avec le trio gagnant des manifestations cyclistes, la Vaudoise met les bouchées doubles pour offrir encore plus d’émotions aux amateurs de la petite reine!
      </p>
      {{> separator separator-size="md" }}
      <p>
        Une cinquième année de présence au Tour de Romandie, une quatrième au Tour de Suisse et une troisième à la Verbier – Romandie Classic: 2013 marque à nouveau la Vaudoise Assurances dans la catégorie «Elite» du cyclisme. Un engagement à retrouver tous les jours sur l'adresse incontournable des passionnés de cyclisme, mais aussi de musique, de culture ou d’athlétisme: <a href="http://www.vaudoise-on-tour.ch">www.vaudoise-on-tour.ch</a>
      </p>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

{{> featured-cyclism }}

<div class="spacer spacer-sm"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 id="athletism" class="text-muted">Athlétisme</h3>
      <p class="lead">
        La Vaudoise Assurances s'engage dans l'athlétisme pour le plus grand bonheur des romands et suisse allemands supporters de sports de compétition.
      </p>
      {{> separator separator-size="md" }}
      <p>
        Sponsor des 20 km de Lausanne depuis plus de 15 ans, d'Athletissima depuis 30 ans et depuis peu également de la Weltklasse Zürich, la Vaudoise est aux côtés des athlètes et de ceux qui les encouragent: une véritable course de fonds jalonnée d’exploits, bien sûr, mais aussi de convivialité et de partage. Sur la course populaire lausannoise, la Vaudoise vous propose des services pour rendre la manifestation encore plus belle, tels que: une structure d’accueil pour les enfants, la distribution de casquettes, et, bien sûr, pour les trois événements, l’essentiel à retrouver sur ces pages.
      </p>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

{{> featured-athletism }}

<div class="spacer spacer-sm"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 id="golf" class="text-muted">Golf</h3>
      <p class="lead">
        La Vaudoise Assurances renforce son engagement dans le golf.
      </p>
      {{> separator separator-size="md" }}
      <p>
        Le sponsoring est un des piliers de la stratégie de communication de la Vaudoise. C'est pourquoi elle est fière de soutenir dès 2014 l'un des plus prestigieux tournois européen, l'Omega European Masters à Crans-Montana. Elle renforce ainsi de manière significative son engagement dans ce sport. La Vaudoise est associée au golf depuis plusieurs année et organise notamment le Vaudoise Challenge Tour, une compétition amateurs qui couvre trois régions linguistiques de la Suisse. Cette compétition, très appréciée par les golfeurs, propose un concept original où les meilleurs joueurs des tournois de qualifications peuvent défendre leur club lors d'une finale organisée à Crans-Montana, sur le mythique parcours de l'Omega European Masters.
      </p>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

{{> featured-golf }}


<div class="container">
  {{> social-row }}
</div>

{{> partners }}

{{> sitemap }}
{{> footer }}