<table class="table table-striped table-calendar">
  <thead class="meadowy">
    <tr>
      <th><i class="voticons voticons-lg voticons-calendar"></i></th>
      <th>
        <h3 class="h2 heading-light">Événements à venir</h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i class="voticons voticons-lg voticons-bike"></i></td>
      <td>
        <h6>Tour de Romandie 2015</h6>
        <small class="text-uppercase">
          28 avril 2015<br>
          au 3 mai 2015
        </small>
        <div class="spacer spacer-sm"></div>
        <blockquote>
          le Tour de Romandie est avant tout une expérience unique réunissant cyclistes, fans de la petite reine, organisateurs, sponsors et curieux dans une ambiance indescriptible composée d'un mélange de compétition, festivités et détente.
        </blockquote>
        <p>
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </p>
      </td>
    </tr>
    <tr>
      <td><i class="voticons voticons-lg voticons-bike"></i></td>
      <td>
        <div class="row">
          <div class="col-sm-7">
            <h6 class="text-inline">Tour de Romandie 2015</h6>
            <small class="text-uppercase">28 avril 2015</small>
          </div>
          <div class="col-sm-5">
            <div class="spacer spacer-xs"></div>
            <div class="pull-right">
              {{> icon-button
                    button-small=true
                    button-outlined=true
                    button-voticon="chevron-left"
                    button-label="En savoir plus" }}
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><i class="voticons voticons-lg voticons-runner"></i></td>
      <td>
        <div class="row">
          <div class="col-sm-7">
            <h6 class="text-inline">Athletissima</h6>
            <small class="text-uppercase">09 Juillet 2015</small>
          </div>
          <div class="col-sm-5">
            <div class="spacer spacer-xs"></div>
            <div class="pull-right">
              {{> icon-button
                    button-small=true
                    button-outlined=true
                    button-voticon="chevron-left"
                    button-label="En savoir plus" }}
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><i class="voticons voticons-lg voticons-music"></i></td>
      <td>
        <div class="row">
          <div class="col-sm-7">
            <h6 class="text-inline">Montreux Jazz FEstival</h6>
            <small class="text-uppercase">11 juillet 2015</small>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <div class="spacer spacer-xs"></div>
              {{> icon-button
                    button-small=true
                    button-outlined=true
                    button-voticon="chevron-left"
                    button-label="En savoir plus" }}
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><i class="voticons voticons-lg voticons-bike"></i></td>
      <td>
        <div class="row">
          <div class="col-sm-7">
            <h6 class="text-inline">Tour de Romandie 2016</h6>
            <small class="text-uppercase">28 avril 2016</small>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <div class="spacer spacer-xs"></div>
              {{> icon-button
                    button-small=true
                    button-outlined=true
                    button-voticon="chevron-left"
                    button-label="En savoir plus" }}
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>