<div class="social-row text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="spacer spacer-xs"></div>
      <i class="voticons voticons-heart icon-heart" data-toggle="tooltip" data-placement="auto" title="Follow us"></i>
      <small class="text-uppercase"><b>Rejoignez notre communauté</b></small>
    </div>
    <div class="col-sm-4">
      <a href="#" class="icon-circle icon-circle-lg icon-facebook"><i class="voticons voticons-lg voticons-facebook"></i></a>
      <a href="#" class="icon-circle icon-circle-lg icon-twitter"><i class="voticons voticons-lg voticons-twitter"></i></a>
      <a href="#" class="icon-circle icon-circle-lg icon-youtube"><i class="voticons voticons-lg voticons-youtube"></i></a>
    </div>
  </div>
</div>