---
notes: |
  ##### Usage : `{{> thumbnail-cover }}`
  ##### Options :
  **Format**
  - **thumbnail-large** - boolean
  - **thumbnail-landscape** - boolean
  - **thumbnail-medium** - boolean

  **State**
  - **thumbnail-minimal** - boolean

  **Content**
  - **thumbnail-voticon** - String
  - **thumbnail-title** - String
  - **thumbnail-subtitle** - String
  - **thumbnail-img** - String
---

<div class="thumbnail-cover{{#if thumbnail-large}} thumbnail-cover-lg{{/if}}{{#if thumbnail-landscape}} thumbnail-cover-landscape{{/if}}{{#if thumbnail-medium}} thumbnail-cover-md{{/if}}">
  {{#if thumbnail-minimal}}{{^}}<a href="{{#if thumbnail-url}}{{thumbnail-url}}{{^}}#{{/if}}">{{/if}}
    <div class="absolute-wrapper gradient"></div>

    {{#if thumbnail-minimal}}{{^}}
    <div class="bottom-wrapper">
      {{#if thumbnail-landscape}}{{^}}<div class="{{#if thumbnail-large}}container relative-wrapper{{^}}container-fluid{{/if}}">{{/if}}
      {{#if thumbnail-landscape}}<div class="container relative-wrapper">{{/if}}
        <div class="row">
          <div class="col-sm-8">
            <i class="voticons voticons-{{#if thumbnail-voticon}}{{thumbnail-voticon}}{{^}}heart{{/if}} voticons-lg"></i>
            {{#if thumbnail-large}}<h1>{{^}}<h3 class="h1">{{/if}}{{#if thumbnail-title}}{{thumbnail-title}}{{^}}title{{/if}}{{#if thumbnail-large}}</h1>{{^}}</h3>{{/if}}
            <h5>{{#if thumbnail-subtitle}}{{thumbnail-subtitle}}{{^}}subtitle{{/if}}</h5>
            {{#if thumbnail-text}}
              <p>
                {{ thumbnail-text }}
              </p>
            {{/if}}
          </div>
          <div class="col-sm-4 text-right absolute-wrapper pull-right">
            <div class="table-wrapper pull-right">
              <div class="cell-wrapper">
                {{> icon-button obutton-utlined=true }}
              </div>
            </div>
          </div>
        </div>
        <div class="spacer spacer-sm"></div>
      </div>
    </div>
    {{/if}}

    <div class="focuspoint"
      data-focus-x="0"
      data-focus-y="-0"
      data-image-w="{{#if thumbnail-large}}{{ medias.formats.thumbnails.large.width }}{{/if}}{{#if thumbnail-landscape}}{{ medias.formats.thumbnails.landscape.width }}{{/if}}{{#if thumbnail-medium}}{{ medias.formats.thumbnails.medium.width }}{{/if}}"
      data-image-h="{{#if thumbnail-large}}{{ medias.formats.thumbnails.large.height }}{{/if}}{{#if thumbnail-landscape}}{{ medias.formats.thumbnails.landscape.height }}{{/if}}{{#if thumbnail-medium}}{{ medias.formats.thumbnails.medium.height }}{{/if}}">
      <img src="{{#if thumbnail-img}}{{thumbnail-img}}{{^}}https://unsplash.it/1920/550/?random{{/if}}" />
    </div>
  {{#if thumbnail-minimal}}{{^}}</a>{{/if}}
</div>