---
notes: |
  This is an example of the `{{> thumbnail-cover }}` molecule
---

{{> thumbnail-cover
      thumbnail-medium=true
      thumbnail-voticon="bike"
      thumbnail-title="Grand concours"
      thumbnail-subtitle="Tour de Romandie 2015"
      thumbnail-text="Participez à notre grand concours et gagnez des week-ends à Amsterdam."
      thumbnail-img="../build/img/vot-demo-20.jpg"
      button-label="Voir plus"
      button-voticon="chevron-right"
      button-large=true
      button-outlined=true }}