<div class="thumbnail-cover">
  <a href="{{ url }}">
    <div class="absolute-wrapper gradient"></div>
    <div class="bottom-wrapper">
      <div class="container">
        <i class="voticons voticons-bike voticons-lg"></i>
        <h1>Tralala</h1>
        <h5>Truluu</h5>
        <div class="spacer spacer-sm"></div>
      </div>
    </div>
    <div class="focuspoint"
      data-focus-x="0"
      data-focus-y="-0"
      data-image-w="1920"
      data-image-h="550">
      <img src="https://unsplash.it/1920/550/?random" />
    </div>
  </a>
</div>