<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    
<header class="salemy">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        
        <div class="navbar-header col-sm-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="./../build/svg/vot-logo.svg" onerror="this.onerror=null; this.src='./../build/img/vot-logo.png'" class="img-responsive" />
          </a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav text-center col-sm-7">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">On tour</a></li>
            <li><a href="#">Concours</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
  
          <ul class="nav navbar-nav navbar-right navbar-lang text-right col-sm-2">
            <li class="active"><a href="#">FR <span class="sr-only">(current)</span></a></li>
            <li><a href="#">DE</a></li>
          </ul>
        </div>
  
      </div>
    </div>
  </nav>  <div class="social-pill-wrapper">
    <div class="social-pill">
      <i class="voticons voticons-heart icon-heart" data-toggle="tooltip" data-placement="auto" title="Follow us"></i>
      <a href="#" class="icon-circle icon-facebook"><i class="voticons voticons-facebook"></i></a>
      <a href="#" class="icon-circle icon-twitter"><i class="voticons voticons-twitter"></i></a>
      <a href="#" class="icon-circle icon-youtube"><i class="voticons voticons-youtube"></i></a>
    </div>
  </div></header>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <h1 class="h2">La Vaudoise, Presenting Sponsor du Tour de Suisse</h1>

      <div class="spacer spacer-sm"></div>

      <p class="lead">
        Présente en 2015 au Tour de Romandie, la Vaudoise confirme son engagement pour cette 69e édition en tant que Presenting Sponsor et complète ainsi 7 années de parcours sportif aux chiffres mirobolants.
      </p>

      <hr class="separator separator-md">
      <p>
        La Vaudoise maintient cette année son engagement et sa contribution tout au long du Tour en proposant différents événements et activités sur chaque étape. A l'arrivée, le public peut participer au grand jeu "Buzz'n'Win" pour remporter de nombreux prix immédiats et obtenir une photo personnalisée.
      </p>
      <p>
        Une démonstration inédite par les champions de BMX Tobias Wicke et Mark König, associée à une troupe de 10 danseurs renommés sous la direction de Gracia Covre, animent la ligne d'arrivée sous les commentaires de Sarah Schütz.
      </p>

      <p>
        Pour tous ceux qui ne pourraient pas se rendre sur place, le site <a href="http://vaudoise-on-tour.ch">vaudoise-on-tour.ch</a> présente en vidéo les coulisses du Tour et des anecdotes originales du cyclisme avec Midi Gottet, membre du Trio Eden. Les visiteurs pourront participer en ligne au grand concours Vaudoise-on-Tour et remporter des prix exceptionnels! Le Tour de Suisse se suit également chaque jour sur les pages Facebook et Twitter de la Vaudoise.
      </p>

      <hr class="separator separator-sm">      <div class="spacer spacer-sm"></div>

    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <div class="spacer spacer-sm"></div>

      <h6 class="text-uppercase">Recherche (Tags)</h6>
      <a href="#" class="btn btn-sm btn-default text-uppercase">Galerie</a>      <a href="#" class="btn btn-sm btn-default text-uppercase">Vidéo</a>      <a href="#" class="btn btn-sm btn-default text-uppercase">Article</a>
      <h6 class="text-uppercase">Édition</h6>
      <a href="#" class="btn btn-sm btn-default text-uppercase">2013</a>      <a href="#" class="btn btn-sm btn-default text-uppercase">2014</a>
      <h6 class="text-uppercase">Partager l’article</h6>
      <a href="#" class="btn btn-sm btn-facebook text-uppercase">Facebook</a>      <a href="#" class="btn btn-sm btn-twitter text-uppercase">Twitter</a>    </div>
  </div>
</div>



<div class="thumbnail-cover thumbnail-cover-landscape">
  <a href="http://google.com">
    <div class="absolute-wrapper gradient"></div>

    
    <div class="bottom-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <i class="voticons voticons-bike voticons-lg"></i>
            <h3 class="h1">Dans le monde des petits pronostics</h3>
            <h5>25 mars 2015</h5>
          </div>
          <div class="col-sm-4 text-right absolute-wrapper pull-right">
            <div class="table-wrapper pull-right">
              <div class="cell-wrapper">
                <button class="icon-button icon-button-lg   icon-button-outlined">
                  <span>Lire l&#x27;article</span>
                  <i class="voticons voticons-pen"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer spacer-sm"></div>
      </div>
    </div>

    <div class="focuspoint"
      data-focus-x="0"
      data-focus-y="-0"
      data-image-w="1920"
      data-image-h="350">
      <img src="../build/img/vot-demo-15.jpg" />
    </div>
  </a>
</div>
<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    
    <div class="row">
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            
            <div class="bottom-wrapper">
              <h3>Omega European Master</h3>
              <button class="icon-button   icon-button-plain ">
                <span>Voir la galerie</span>
                <i class="voticons voticons-camera"></i>
              </button>
            </div>
        
              <div id="thumbnail-carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="absolute-wrapper gradient"></div>
                    <img src="../build/img/vot-demo-05.jpg" class="img-responsive">
                  </div>
                  <div class="item">
                    <div class="absolute-wrapper gradient"></div>
                    <img src="../build/img/vot-demo-09.jpg" class="img-responsive">
                  </div>
                  <div class="item">
                    <div class="absolute-wrapper gradient"></div>
                    <img src="../build/img/vot-demo-14.jpg" class="img-responsive">
                  </div>
                  <div class="item">
                    <div class="absolute-wrapper gradient"></div>
                    <img src="https://unsplash.it/400/370/?random" class="img-responsive">
                  </div>
                </div>
                <button class="left carousel-control" href="#thumbnail-carousel-1" role="button" data-slide="prev">
                  <i class="voticons voticons-chevron-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </button>
                <button class="right carousel-control" href="#thumbnail-carousel-1" role="button" data-slide="next">
                  <i class="voticons voticons-chevron-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </button>
              </div>
        
        
          </div>
          <div class="caption">
            <p>
              Matteo Manassero sera à Crans-Montana!
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Omega European Master</h3>
              <button class="icon-button   icon-button-plain ">
                <span>En savoir plus</span>
                <i class="voticons voticons-pen"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-14.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Tournoi saison 2015
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Montreux Jazz 2014</h3>
              <button class="icon-button   icon-button-plain ">
                <span>Voir la vidéo</span>
                <i class="voticons voticons-video"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-09.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Montreux Jazz Festival 2014 : Vidéo – Behind The Scenes
            </p>
          </div>
        </a>        </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>
<div class="container">
  <div class="social-row text-center">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <i class="voticons voticons-heart icon-heart" data-toggle="tooltip" data-placement="auto" title="Follow us"></i>
        <small class="text-uppercase"><b>Rejoignez notre communauté</b></small>
      </div>
      <div class="col-sm-4">
        <a href="#" class="icon-circle icon-circle-lg icon-facebook"><i class="voticons voticons-lg voticons-facebook"></i></a>
        <a href="#" class="icon-circle icon-circle-lg icon-twitter"><i class="voticons voticons-lg voticons-twitter"></i></a>
        <a href="#" class="icon-circle icon-circle-lg icon-youtube"><i class="voticons voticons-lg voticons-youtube"></i></a>
      </div>
    </div>
  </div></div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <h6>Nos partenaires</h6>

    <div class="row">
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>
<div class="salemy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h5 class="heading-underlined">Accueil</h5>
      </div>
      <div class="col-sm-5">
        <h5 class="heading-underlined">On Tour</h5>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="text-uppercase">Culture</h6>
            <ul class="list-unstyled">
                <li><a href="#">Musique &amp; culture</a></li>
                <li><a href="#">Montreux Jazz Festival</a></li>
                <li><a href="#">Lucernes Blues</a></li>
                <li><a href="#">Solothurn Classics</a></li>
                <li><a href="#">Blues ‘n’ jazz Rapperswill</a></li>
                <li><a href="#">Opéra de Lausanne</a></li>
                <li><a href="#">Théâtre équilibre-Nuithonie</a></li>
                <li><a href="#">Sion Festival</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h6 class="text-uppercase">Sports</h6>
            <p>Golf</p>
            <ul class="list-unstyled">
                <li><a href="#">Omega European Masters</a></li>
            </ul>
            <div class="spacer spacer-xs"></div>
            <p>Cyclisme</p>
            <ul class="list-unstyled">
                <li><a href="#">Tour de Romandie</a></li>
                <li><a href="#">Tour de Suisse</a></li>
                <li><a href="#">Swiss Cycling</a></li>
            </ul>
            <div class="spacer spacer-xs"></div>
            <p>Athlétisme</p>
            <ul class="list-unstyled">
                <li><a href="#">20KM Lausanne</a></li>
                <li><a href="#">Weltklasse Zürich</a></li>
                <li><a href="#">Athletissima</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <h5 class="heading-underlined">Concours</h5>
        <ul class="list-unstyled">
            <li><a href="#">Concours A</a></li>
            <li><a href="#">Concours B</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5 class="heading-underlined">Contact</h5>
        <ul class="list-unstyled">
            <li><a href="#">Vaudoise Assurances</a></li>
            <li><a href="#">click2drive.ch - L’assurance auto en ligne</a></li>
            <li><a href="#">click2drive.ch - L’assurance moto en ligne</a></li>
            <li><a href="#">vaudoiseontour.ch</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div><footer class="meadowy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        Copyright Vaudoise Assurances <a href="http://vaudoiseontour.ch"><u>vaudoiseontour.ch</u></a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="#">Informations juridiques</a> | <a href="#">Impressum</a>
      </div>
      <div class="col-sm-4 text-right">
        Une réalisation <a href="http://antistatique.net"><u>Antistatique</u></a>
      </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</footer>
    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.min.js"></script>
  </body>
</html>