<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    
<header class="header-oncover">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        
        <div class="navbar-header col-sm-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="./../build/svg/vot-logo.svg" onerror="this.onerror=null; this.src='./../build/img/vot-logo.png'" class="img-responsive" />
          </a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav text-center col-sm-7">
            <li><a href="homepage.html">Accueil</a></li>
            <li class="active"><a href="ontour.html">On tour</a></li>
            <li><a href="concours.html">Concours</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
  
          <ul class="nav navbar-nav navbar-right navbar-lang text-right col-sm-2">
            <li class="active"><a href="#">FR <span class="sr-only">(current)</span></a></li>
            <li><a href="#">DE</a></li>
          </ul>
        </div>
  
      </div>
    </div>
  </nav>  <div class="social-pill-wrapper">
  <div class="social-pill">
    <i class="voticons voticons-heart icon-heart" data-toggle="tooltip" data-placement="auto" title="Follow us"></i>
    <a href="#" class="icon-circle icon-facebook"><i class="voticons voticons-facebook"></i></a>
    <a href="#" class="icon-circle icon-twitter"><i class="voticons voticons-twitter"></i></a>
    <a href="#" class="icon-circle icon-youtube"><i class="voticons voticons-youtube"></i></a>
  </div>
</div>
</header>
<div class="thumbnail-cover thumbnail-cover-landscape">
  
    <div class="absolute-wrapper gradient"></div>

    
    <div class="focuspoint"
      data-focus-x="0"
      data-focus-y="-0"
      data-image-w="1920"
      data-image-h="350">
      <img src="../build/img/vot-demo-03.jpg" />
    </div>
  
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Événement</h1>
      <p>
        Vaudoise Assurances est active dans les domaines de la musique et de la culture, ainsi que dans celui du sports.
      </p>
      <p>
        Consultez les manifestions où nous sommes présents :
      </p>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a href="#musique" class="btn btn-success">Musique &amp; culture</a>      <a href="#cyclism" class="btn btn-success">Cyclisme</a>      <a href="#athletism" class="btn btn-success">Athlétisme</a>      <a href="#golf" class="btn btn-success">Golf</a>    </div>
  </div>

  <div class="spacer spacer-sm"></div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 id="musique">Musique & culture</h2>
      <p class="lead">
        Du classique au jazz, du théâtre à l’opéra, la Vaudoise Assurances vous emmène en tournée à la rencontre des artistes d’hier, d’aujourd’hui et de demain.
      </p>
      <hr class="separator separator-md">      <p>
        Le sponsoring fait partie intégrante de la stratégie de communication de la Vaudoise. Notre ancrage régional et local se traduit par un engagement actif au sein de la communauté. La Vaudoise participe activement à la vie économique, sportive et culturelle en soutenant diverses manifestations d'envergure nationale, cantonale ou régionale.
      </p>
      <div class="spacer spacer-sm"></div>
      <div class="text-center">
        <i class="voticons voticons-chevron-down voticons-lg text-muted"></i>
      </div>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="thumbnail-cover thumbnail-cover-md">
          <a href="#">
            <div class="absolute-wrapper gradient"></div>
        
            
            <div class="bottom-wrapper">
              <div class="container-fluid">
              
                <div class="row">
                  <div class="col-sm-8">
                    <i class="voticons voticons-music voticons-lg"></i>
                    <h3 class="h1">Montreux Jazz</h3>
                    <h5>25 Mars 2015</h5>
                  </div>
                  <div class="col-sm-4 text-right absolute-wrapper pull-right">
                    <div class="table-wrapper pull-right">
                      <div class="cell-wrapper">
                        <button class="icon-button icon-button-lg icon-button-outlined">
                          <span class="button-label-wrapper">
                            <span class="button-label">
                              En savoir plus
                            </span>
                          </span>
                          <i class="voticons voticons-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="spacer spacer-sm"></div>
              </div>
            </div>
        
            <div class="focuspoint"
              data-focus-x="0"
              data-focus-y="-0"
              data-image-w="740"
              data-image-h="400">
              <img src="../build/img/vot-demo-07.jpg" />
            </div>
          </a>
        </div>      </div>
  </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="thumbnail-cover thumbnail-cover-md">
          <a href="#">
            <div class="absolute-wrapper gradient"></div>
        
            
            <div class="bottom-wrapper">
              <div class="container-fluid">
              
                <div class="row">
                  <div class="col-sm-8">
                    <i class="voticons voticons-music voticons-lg"></i>
                    <h3 class="h1">Opéra de Lausanne</h3>
                    <h5>25 Mars 2015</h5>
                  </div>
                  <div class="col-sm-4 text-right absolute-wrapper pull-right">
                    <div class="table-wrapper pull-right">
                      <div class="cell-wrapper">
                        <button class="icon-button icon-button-lg icon-button-outlined">
                          <span class="button-label-wrapper">
                            <span class="button-label">
                              En savoir plus
                            </span>
                          </span>
                          <i class="voticons voticons-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="spacer spacer-sm"></div>
              </div>
            </div>
        
            <div class="focuspoint"
              data-focus-x="0"
              data-focus-y="-0"
              data-image-w="740"
              data-image-h="400">
              <img src="../build/img/vot-demo-06.jpg" />
            </div>
          </a>
        </div>      </div>
    </div>
  </div>
</div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    
    <div class="row">
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Lucerne Blues</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-10.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Consultez la programmation de l’édition 2015
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Blues ‘n’ Jazz Rapperswill</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-19.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Festival de Blues ‘n’ Jazz Rapperswill 2015
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Théâtre Equilibre-Nuithonie</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-22.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les actualités et agendas du théâtre Equilibre-Nuithonie
            </p>
          </div>
        </a>        </div>
    </div>

    <h4 class="text-muted">Ils pourraient aussi vous intéresser…</h4>

    <ul class="text-primary">
      <li><a href="#">Sion festival</a></li>
      <li><a href="#">Solothurn Classics</a></li>
    </ul>

  </div>

  <div class="spacer spacer-sm"></div>
</div>
<div class="spacer spacer-sm"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 id="musique">Sports</h2>
      <h3 id="cyclism" class="text-muted">Cyclisme</h3>
      <p class="lead">
        De retour avec le trio gagnant des manifestations cyclistes, la Vaudoise met les bouchées doubles pour offrir encore plus d’émotions aux amateurs de la petite reine!
      </p>
      <hr class="separator separator-md">      <p>
        Une cinquième année de présence au Tour de Romandie, une quatrième au Tour de Suisse et une troisième à la Verbier – Romandie Classic: 2013 marque à nouveau la Vaudoise Assurances dans la catégorie «Elite» du cyclisme. Un engagement à retrouver tous les jours sur l'adresse incontournable des passionnés de cyclisme, mais aussi de musique, de culture ou d’athlétisme: <a href="http://www.vaudoise-on-tour.ch">www.vaudoise-on-tour.ch</a>
      </p>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Tour de Romandie</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-05.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le Tour de Romandie
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Tour de Suisse</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-14.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le Tour de Suisse
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Swiss Cycling</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-16.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le Swiss Cycling
            </p>
          </div>
        </a>        </div>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>
</div>
<div class="spacer spacer-sm"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 id="athletism" class="text-muted">Athlétisme</h3>
      <p class="lead">
        La Vaudoise Assurances s'engage dans l'athlétisme pour le plus grand bonheur des romands et suisse allemands supporters de sports de compétition.
      </p>
      <hr class="separator separator-md">      <p>
        Sponsor des 20 km de Lausanne depuis plus de 15 ans, d'Athletissima depuis 30 ans et depuis peu également de la Weltklasse Zürich, la Vaudoise est aux côtés des athlètes et de ceux qui les encouragent: une véritable course de fonds jalonnée d’exploits, bien sûr, mais aussi de convivialité et de partage. Sur la course populaire lausannoise, la Vaudoise vous propose des services pour rendre la manifestation encore plus belle, tels que: une structure d’accueil pour les enfants, la distribution de casquettes, et, bien sûr, pour les trois événements, l’essentiel à retrouver sur ces pages.
      </p>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>20 km de Lausanne</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-17.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le 20 km de Lausanne
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Weltklasse Zürich</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-18.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le Weltklasse Zürich
            </p>
          </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Athletissima</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-21.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le Athletissima
            </p>
          </div>
        </a>        </div>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>
</div>
<div class="spacer spacer-sm"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 id="golf" class="text-muted">Golf</h3>
      <p class="lead">
        La Vaudoise Assurances renforce son engagement dans le golf.
      </p>
      <hr class="separator separator-md">      <p>
        Le sponsoring est un des piliers de la stratégie de communication de la Vaudoise. C'est pourquoi elle est fière de soutenir dès 2014 l'un des plus prestigieux tournois européen, l'Omega European Masters à Crans-Montana. Elle renforce ainsi de manière significative son engagement dans ce sport. La Vaudoise est associée au golf depuis plusieurs année et organise notamment le Vaudoise Challenge Tour, une compétition amateurs qui couvre trois régions linguistiques de la Suisse. Cette compétition, très appréciée par les golfeurs, propose un concept original où les meilleurs joueurs des tournois de qualifications peuvent défendre leur club lors d'une finale organisée à Crans-Montana, sur le mythique parcours de l'Omega European Masters.
      </p>
    </div>
  </div>
</div>

<div class="spacer spacer-sm"></div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="thumbnail">
          <div class="thumbnail-image relative-wrapper">
            <div class="absolute-wrapper gradient"></div>
            <div class="bottom-wrapper">
              <h3>Omega European Masters</h3>
              <button class="icon-button icon-button-plain">
                <span class="button-label-wrapper">
                  <span class="button-label">
                    En savoir plus
                  </span>
                </span>
                <i class="voticons voticons-chevron-right"></i>
              </button>
            </div>
        
              <img src="../build/img/vot-demo-02.jpg" class="img-responsive">
        
        
          </div>
          <div class="caption">
            <p>
              Toutes les infos sur le Omega European Masters
            </p>
          </div>
        </a>        </div>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>
</div>

<div class="container">
  <div class="social-row text-center">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="spacer spacer-xs"></div>
        <i class="voticons voticons-heart icon-heart" data-toggle="tooltip" data-placement="auto" title="Follow us"></i>
        <small class="text-uppercase"><b>Rejoignez notre communauté</b></small>
      </div>
      <div class="col-sm-4">
        <a href="#" class="icon-circle icon-circle-lg icon-facebook"><i class="voticons voticons-lg voticons-facebook"></i></a>
        <a href="#" class="icon-circle icon-circle-lg icon-twitter"><i class="voticons voticons-lg voticons-twitter"></i></a>
        <a href="#" class="icon-circle icon-circle-lg icon-youtube"><i class="voticons voticons-lg voticons-youtube"></i></a>
      </div>
    </div>
  </div></div>

<div class="sandy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <h6>Nos partenaires</h6>

    <div class="row">
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
      <div class="col-sm-2 col-xs-4"><div class="partner">
  <img src="../build/img/partner-demo.jpg" class="img-responsive">
</div></div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div>
<div class="salemy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h5 class="heading-underlined">Accueil</h5>
      </div>
      <div class="col-sm-5">
        <h5 class="heading-underlined">On Tour</h5>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="text-uppercase">Culture</h6>
            <ul class="list-unstyled">
                <li><a href="#">Musique &amp; culture</a></li>
                <li><a href="#">Montreux Jazz Festival</a></li>
                <li><a href="#">Lucernes Blues</a></li>
                <li><a href="#">Solothurn Classics</a></li>
                <li><a href="#">Blues ‘n’ jazz Rapperswill</a></li>
                <li><a href="#">Opéra de Lausanne</a></li>
                <li><a href="#">Théâtre équilibre-Nuithonie</a></li>
                <li><a href="#">Sion Festival</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h6 class="text-uppercase">Sports</h6>
            <p>Golf</p>
            <ul class="list-unstyled">
                <li><a href="#">Omega European Masters</a></li>
            </ul>
            <div class="spacer spacer-xs"></div>
            <p>Cyclisme</p>
            <ul class="list-unstyled">
                <li><a href="#">Tour de Romandie</a></li>
                <li><a href="#">Tour de Suisse</a></li>
                <li><a href="#">Swiss Cycling</a></li>
            </ul>
            <div class="spacer spacer-xs"></div>
            <p>Athlétisme</p>
            <ul class="list-unstyled">
                <li><a href="#">20KM Lausanne</a></li>
                <li><a href="#">Weltklasse Zürich</a></li>
                <li><a href="#">Athletissima</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <h5 class="heading-underlined">Concours</h5>
        <ul class="list-unstyled">
            <li><a href="#">Concours A</a></li>
            <li><a href="#">Concours B</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5 class="heading-underlined">Contact</h5>
        <ul class="list-unstyled">
            <li><a href="#">Vaudoise Assurances</a></li>
            <li><a href="#">click2drive.ch - L’assurance auto en ligne</a></li>
            <li><a href="#">click2drive.ch - L’assurance moto en ligne</a></li>
            <li><a href="#">vaudoiseontour.ch</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</div><footer class="meadowy">
  <div class="spacer spacer-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        Copyright Vaudoise Assurances <a href="http://vaudoiseontour.ch"><u>vaudoiseontour.ch</u></a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="#">Informations juridiques</a> | <a href="#">Impressum</a>
      </div>
      <div class="col-sm-4 text-right">
        Une réalisation <a href="http://antistatique.net"><u>Antistatique</u></a>
      </div>
    </div>
  </div>
  <div class="spacer spacer-sm"></div>
</footer>
    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.min.js"></script>
  </body>
</html>