---
title: Overview | Fabricator
fabricator: true
---

{{#markdown}}

# Vaudoise on Tour - Styleguide

## Overview

--------------------

#### Colors

{{#each colors}}
  <div class="f-color-chips">
  {{#each this}}
    <div class="f-color-chip">
      <div class="f-color-chip__name">{{@key}}</div>
      <div class="f-color-chip__color">{{this}}</div>
    </div>
  {{/each}}
  </div>
{{/each}}


#### Typography

# Title level 1
## Title level 2
### Title level 3
#### Title level 4
##### Title level 5
###### Title level 6

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae contraria sunt his, malane? Certe non potest. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Illum mallem levares, quo optimum atque humanissimum virum, Cn. In quo etsi est magnus, tamen nova pleraque et perpauca de moribus. Nobis aliter videtur, recte secusne, postea;

* lorem
* ipsum
* dolor
* sit
* amet

--------------------


## Installation

````shell
$ npm install
$ bower install
$ gulp
````

## Development

````shell
$ gulp serve
````

## Usage

Use the builded files in your code :

````html
<link rel="stylesheet" href="build/css/vendors.min.css">
<link rel="stylesheet" href="build/css/main.css">

<!--[if lt IE 9]>
  <script src="build/js/polyfills.min.js"></script>
<![endif]-->
<script src="build/js/vendors.min.js"></script>
<script src="build/js/main.min.js"></script>
````


{{/markdown}}