---
title: Overview | Fabricator
fabricator: true
---

{{#markdown}}

# Vaudoise on Tour - Styleguide

## Overview

--------------------

#### Colors

{{#each colors}}
  <div class="f-color-chips">
  {{#each this}}
    <div class="f-color-chip">
      <div class="f-color-chip__name">{{@key}}</div>
      <div class="f-color-chip__color">{{this}}</div>
    </div>
  {{/each}}
  </div>
{{/each}}


#### Typography

# Title level 1
## Title level 2
### Title level 3
#### Title level 4
##### Title level 5
###### Title level 6

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae contraria sunt his, malane? Certe non potest. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Illum mallem levares, quo optimum atque humanissimum virum, Cn. In quo etsi est magnus, tamen nova pleraque et perpauca de moribus. Nobis aliter videtur, recte secusne, postea;

* lorem
* ipsum
* dolor
* sit
* amet

<i class="voticons voticons-bike"></i>
<i class="voticons voticons-calendar"></i>
<i class="voticons voticons-camera"></i>
<i class="voticons voticons-chevron-left"></i>
<i class="voticons voticons-chevron-right"></i>
<i class="voticons voticons-chevron-down"></i>
<i class="voticons voticons-close"></i>
<i class="voticons voticons-facebook"></i>
<i class="voticons voticons-heart"></i>
<i class="voticons voticons-music"></i>
<i class="voticons voticons-pen"></i>
<i class="voticons voticons-play"></i>
<i class="voticons voticons-runner"></i>
<i class="voticons voticons-twitter"></i>
<i class="voticons voticons-youtube"></i>



{{/markdown}}